@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

body {
    font-family: "Inter", sans-serif;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #34495e inset;
    -webkit-text-fill-color: #e6e6e6;
}
